.login-page {
    background-color: #f7f7f7;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-form {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 80px;
    text-align: center;
  }
  
  .login-form h1 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    text-align: left;
  }
  
  .form-group input {
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
    width: 100%;
  }
  
  .login-button {
    background-color: #008CBA;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 15px;
    width: 100%;
    transition: background-color 0.3s ease-in-out;
  }
  
  .login-button:hover {
    background-color: #0077A2;
  }
  .error{
    margin-top: 10px;
    color: red;
  }